@import "../../global.scss";

.projects {
  background-color: $C-1;
  display: flex;
  align-items: center;
  justify-content: center;

  .slider {
    height: 90%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
  }

  .next {
    position: absolute;
    right: 60px;
    font-size: 60px;
    color: $C-5;
    cursor: pointer;
  }
  .back {
    position: absolute;
    left: 60px;
    font-size: 60px;
    color: $C-5;
    cursor: pointer;
  }
}