@import "../../global.scss";

.portfolioList {
  font-size: 14px;
  margin: 0px 25px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  color: $C-2;

  &.active {
    background-color: $C-1;
    color: $C-3;
  }
}
